.boddyPart3 {
    margin-top: 100%;
}

.titlePart3 {
    font-size: xx-large;
    margin-left: 50px;
}

.textoBoddyPart3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10%;
}

.texto1BoddyPart3 {
    border: solid 1px white;
    box-shadow: 0 10px 12px 0 rgb(160, 159, 159), 0 10px 20px 0 rgb(163, 162, 162);
    height: 400px;
    margin-bottom: 20px;
}

.Title2BoddyPart3 {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-left: 20px;
}

.iconPart3 {
    height: 20%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 15%;
}

.pBoddyPart3 {
    margin-left: 20px;
    margin-right: 20px;
}

.buttonCreatePart3 {
    background-color: #F2BF4E;
    border: solid 1px #F2BF4E;
    box-shadow:0 5px 1px black;
    height: 30px;
    margin-left: 15%;
    margin-top: 10px;
    width: 300px;
}

.texto2BoddyPart3 {
    background-color: #0B485B;
    height: 230px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50%;
}

.title3BoddyPart3 {
    color: white;
    font-size: x-large;
    margin-top: 20px;
    text-align: center;
}

.buttonPart3 {
    margin-bottom: 20px;
    margin-left: 30%;
    margin-top: 20px;
}

.title3BoddyPart33 {
    color: white;
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
}

.texto3BoddyPart3 {
    color: white;
    text-align: center;
}