.footerInteiro {
    background-color: rgb(250, 199, 246);
    margin-top: 233%;
    width: 100%;
}

.footer {
    margin-top: 2%;
}

.rede {
    width: 20%;
}

.footerLine {
    margin-top: 20px;
    width: 100%;
}

.pFooter {
    font-size: x-small;
    margin-left: 77%;
    margin-top: 7px;
}