.headerInteiro {
  background-color: rgb(250, 199, 246);
  height: 110px;
}

.logo {
  height: 100%;
  width: 50%;
}

.drop{
  height: 15px;
  width: 15px;
}

.blueButton {
  background-color: #ce1998;
  border: solid 1px #ce1989;
  box-shadow:0 5px 1px black;
  height: 30px;
  width: 80px;
}

.whiteButton {
  border: solid 2px black;
  box-shadow:0 5px 1px black;
  height: 30px;
  width: 80px;
}