.headerInteiro {
  background-color: rgb(247, 189, 242);
  height: 110px;
}

.logo {
  height: 70%;
  margin-left: 5px;
  margin-top: 5px;
  width: 60%;
}

.drop{
  height: 15px;
  width: 15px;
}

.pinkButton {
  background-color: #ce1998;
  border: solid 1px #ce1989;
  box-shadow:0 5px 1px black;
  height: 30px;
  width: 80px;
}

.whiteButton {
  border: solid 2px black;
  box-shadow:0 5px 1px black;
  height: 30px;
  width: 80px;
}